* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #020617;
    position: sticky;
    top: 0;
}

header h2 {
    color: #38bdf8;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #cbd5f5;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f172a, #1e293b);
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero span {
    color: #38bdf8;
}

/* Sections */
section {
    padding: 80px 20px;
    text-align: center;
}

/* Cards */
.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* Form */
input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

button {
    background: #38bdf8;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}